*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

ul{
    list-style: none;
}

.full-wrapper{
    width: 100%;
}

.container{
    width: 1170px;
    margin: 0 auto;
}


#counterPart{
    margin-top: 50px;
    background: silver;
}

#counterPart .counter-main{
    display: flex;
    padding: 50px;
}

#counterPart .counter-main .counter-item{
    width: 25%;
    text-align: center;
}

#counterPart .counter-main .counter-item h4{
    font-family: serif;
    font-size: 25px;
}

#counterPart .counter-main .counter-item p{
    font-family: serif;
    font-size: 18px;
}

